<BFUTheme>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <BFULayerHost Style="display:flex; flex-direction: row;width:100vw">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </BFULayerHost>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</BFUTheme>

